<a href="https://colab.research.google.com/github/Erock1092/Python/blob/master/nba_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

#gets the player stats from basketball-reference.com follows tutorial by Oscar Sanchez found here: https://towardsdatascience.com/web-scraping-nba-stats-4b4f8c525994
def getYear():
  return input("Enter year:")

url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html".format(getYear())

html = urlopen(url)
soup = BeautifulSoup(html)

headers = [th.getText() for th in soup.findAll('tr', limit = 2)[0].findAll('th')]
headers = headers[1:]

rows = soup.findAll('tr')[1:]

playerStats = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]

stats = pd.DataFrame(playerStats, columns = headers)
stats.head(10)

Enter year:2020

                     Player Pos Age   Tm   G  GS  ...  AST  STL  BLK  TOV   PF   PTS
0              Steven Adams   C  26  OKC  58  58  ...  2.4  0.9  1.1  1.5  1.9  10.9
1               Bam Adebayo  PF  22  MIA  65  65  ...  5.1  1.2  1.3  2.8  2.5  16.2
2         LaMarcus Aldridge   C  34  SAS  53  53  ...  2.4  0.7  1.6  1.4  2.4  18.9
3  Nickeil Alexander-Walker  SG  21  NOP  41   0  ...  1.8  0.3  0.2  1.0  1.1   5.1
4             Grayson Allen  SG  24  MEM  30   0  ...  1.4  0.2  0.0  0.8  1.2   7.4
5             Jarrett Allen   C  21  BRK  64  58  ...  1.3  0.6  1.3  1.1  2.3  10.6
6              Kadeem Allen  SG  27  NYK  10   0  ...  2.1  0.5  0.2  0.8  0.7   5.0
7           Al-Farouq Aminu  PF  29  ORL  18   2  ...  1.2  1.0  0.4  0.9  1.5   4.3
8           Justin Anderson  SF  26  BRK   3   0  ...  0.0  0.0  0.3  0.0  0.7   1.0
9             Kyle Anderson  PF  26  MEM  59  20  ...  2.2  0.8  0.5  0.9  1.4   5.7

[10 rows x 29 columns]

In [0]:
#saves dataframe as json
with open('stats.json', 'w') as f:
  f.write(stats.to_json())

In [0]:
#downloads the file to local computer
#the data can now be used in another module
from google.colab import files
files.download('stats.json')

In [17]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

#Gets the roster of the input team and year from basketball-reference.com
def getYear():
  return input("Enter year:")

def getTeam():
  return input("Enter Team:")

url = "https://www.basketball-reference.com/teams/{}/{}.html".format(getTeam(),getYear())
html = urlopen(url)
soup = BeautifulSoup(html)


headers = [th.getText() for th in soup.findAll('tr', limit = 2)[0].findAll('th')]


headers = headers[1:]
headers

rows = soup.findAll('tr')[1:]


roster = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]


stats = pd.DataFrame(roster, columns = headers)
stats.head(10)

Enter Team:LAL
Enter year:2020

                     Player Pos    Ht  ...     Exp    College
0  Kentavious Caldwell-Pope  SG   6-5  ...  us   6    Georgia
1             Dwight Howard   C  6-10  ...  us  15
2               Danny Green  SG   6-6  ...  us  10        UNC
3              JaVale McGee   C   7-0  ...  us  11     Nevada
4              LeBron James  PG   6-9  ...  us  16
5               Alex Caruso  PG   6-5  ...  us   2  Texas A&M
6             Anthony Davis  PF  6-10  ...  us   7   Kentucky
7                Kyle Kuzma  PF   6-8  ...  us   2       Utah
8             Avery Bradley  SG   6-3  ...  us   9      Texas
9               Rajon Rondo  PG   6-1  ...  us  13   Kentucky

[10 rows x 8 columns]