<a href="https://colab.research.google.com/github/Erock1092/Python/blob/master/nba_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

#gets the player stats from basketball-reference.com follows tutorial by Oscar Sanchez found here: https://towardsdatascience.com/web-scraping-nba-stats-4b4f8c525994
def getYear():
  return input("Enter year:")

url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html".format(getYear())

html = urlopen(url)
soup = BeautifulSoup(html)

headers = [th.getText() for th in soup.findAll('tr', limit = 2)[0].findAll('th')]
headers = headers[1:]

rows = soup.findAll('tr')[1:]

playerStats = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]

stats = pd.DataFrame(playerStats, columns = headers)
stats.head(10)

Enter year:2018

              Player Pos Age   Tm   G  GS  ...  AST  STL  BLK  TOV   PF   PTS
0       Álex Abrines  SG  24  OKC  75   8  ...  0.4  0.5  0.1  0.3  1.7   4.7
1         Quincy Acy  PF  27  BRK  70   8  ...  0.8  0.5  0.4  0.9  2.1   5.9
2       Steven Adams   C  24  OKC  76  76  ...  1.2  1.2  1.0  1.7  2.8  13.9
3        Bam Adebayo   C  20  MIA  69  19  ...  1.5  0.5  0.6  1.0  2.0   6.9
4      Arron Afflalo  SG  32  ORL  53   3  ...  0.6  0.1  0.2  0.4  1.1   3.4
5       Cole Aldrich   C  29  MIN  21   0  ...  0.1  0.1  0.0  0.0  0.5   0.6
6  LaMarcus Aldridge   C  32  SAS  75  75  ...  2.0  0.6  1.2  1.5  2.1  23.1
7      Jarrett Allen   C  19  BRK  72  31  ...  0.7  0.4  1.2  1.1  2.0   8.2
8       Kadeem Allen  PG  25  BOS  18   1  ...  0.7  0.2  0.1  0.5  0.8   1.1
9         Tony Allen  SF  36  NOP  22   0  ...  0.4  0.5  0.1  0.9  2.2   4.7

[10 rows x 29 columns]

In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

#Gets the roster of the input team and year from basketball-reference.com
def getYear():
  return input("Enter year:")

def getTeam():
  return input("Enter Team:")

url = "https://www.basketball-reference.com/teams/{}/{}.html".format(getTeam(),getYear())
html = urlopen(url)
soup = BeautifulSoup(html)


headers = [th.getText() for th in soup.findAll('tr', limit = 2)[0].findAll('th')]


headers = headers[1:]
headers

rows = soup.findAll('tr')[1:]


roster = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]


stats = pd.DataFrame(roster, columns = headers)
stats

Enter Team:LAL
Enter year:2020

                        Player Pos    Ht  ...     Exp         College
0     Kentavious Caldwell-Pope  SG   6-5  ...  us   6         Georgia
1                Dwight Howard   C  6-10  ...  us  15
2                  Danny Green  SG   6-6  ...  us  10             UNC
3                 JaVale McGee   C   7-0  ...  us  11          Nevada
4                 LeBron James  PG   6-9  ...  us  16
5                  Alex Caruso  PG   6-5  ...  us   2       Texas A&M
6                Anthony Davis  PF  6-10  ...  us   7        Kentucky
7                   Kyle Kuzma  PF   6-8  ...  us   2            Utah
8                Avery Bradley  SG   6-3  ...  us   9           Texas
9                  Rajon Rondo  PG   6-1  ...  us  13        Kentucky
10                Jared Dudley  SF   6-6  ...  us  12  Boston College
11                  Quinn Cook  PG   6-1  ...  us   3            Duke
12             Markieff Morris  PF   6-8  ...  us   8          Kansas
13  Kostas Antetokounmpo  (TW)  PF  6-10  ...  gr   1          Dayton
14         Talen Horton-Tucker  SG   6-4  ...  us   R      Iowa State
15        Devontae Cacok  (TW)   F   6-7  ...  us   R  UNC Wilmington
16                Dion Waiters   G   6-3  ...  us   7        Syracuse

[17 rows x 8 columns]